/* NAVBAR */
.navidad-navbar {
    background-color: #1a3d2f;
}

/* CAROUSEL */
.carousel-item img {
    height: 500px;
    object-fit: cover;
}

/* CARDS IMAGES */
.card-navidad img {
    height: 200px;
    object-fit: cover;
}

/* CARD SIZE FIX */
.card-navidad {
    height: 100%;
}


/* TABS */
.nav-tabs .nav-link.active {
    background-color: #d63333 !important;
    color: white !important;
    font-weight: bold;
}

/* FOOTER */
.footer-navidad {
    background-color: #0a1f16;
}
